#index_title

  %h1 Pet Stores
  %p This will show ALL the the pet_stores

%div



  -@pet_stores.each do |pet_store|
    .a_pet{:style => "background-color: #{store_color(pet_store.name)}"}
      %a(href="#{pet_store_path(pet_store.id)}")
        %strong=pet_store.name
      %br
      %p
        -pet_store.pets.each do |pet|
          %a(href="#{pet_store_pet_path(pet_store.id, pet.id)}")
            %strong= pet.name
          , a
          =pet.color
          =pet.species
          %br
      %br


      %div
        =link_to 'Edit Store', edit_pet_store_path(pet_store.id)
        =link_to 'Delete Store', pet_store, method: :delete, confirm: "Are you sure you want to delete an ENTIRE STORE?"
        =link_to 'Add Pet', new_pet_store_pet_path(pet_store.id)