#header
  This will be a header with some links and whatnot
  %div
    %ul
      %li
        =link_to 'Pet Stores', pet_stores_path
      %li
        =link_to 'All Pets', all_pets_path
      %li
        =link_to 'New Pet Store', new_pet_store_path
      %li
        =link_to 'New Pet', new_pet_store_pet_path(1)