%head
  %title Petstore
  %meta{:name => "description", :content=> "#{ content_for?(:description) ? yield(:description) : ( "site_description")}"}
  %meta{:charset => "utf-8"}
  %meta{:author => "John Lockwood"}
  =stylesheet_link_tag    "application", media: "all"
  =javascript_include_tag "application"
  =csrf_meta_tags
  